<%= turbo_frame_tag post do %>
  <div class="post">
    <div class="d-flex flex-grow-1 justify-content-around">
      <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %>
      <%= post.content %>
    </div>

    <div class="post__actions">
      <%= link_to "Edit", edit_post_path(post), class: "btn btn--light" %>
      <%= button_to "Like", post_path(post), class: "btn btn--light" %>
      <%= button_to "Comment", post_path(post), class: "btn btn--light" %>
      <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn--light" %>
    </div>
  </div>
<% end %>
