<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Feed</h1>
      <%= link_to "New post", new_post_path, data: { turbo_frame: dom_id(Post.new) }, class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= turbo_frame_tag Post.new %>

  <%= turbo_frame_tag 'posts' do %>
    <%= render @posts %>
  <% end %>
</main>
